$icomoon-font-path: "fonts" !default;

$icon-location: "\e900";
$icon-rate-star-button: "\e91a";
$icon-cancel: "\e91b";
$icon-thumb-up-black-sign: "\e91c";
$icon-user-shape: "\e91d";
$icon-next: "\e111";
$icon-up-arrow: "\e916";
$icon-up-arrow_wht: "\e904";
$icon-6-path1: "\e901";
$icon-6-path2: "\e902";
$icon-calendar: "\e903";
$icon-dollar: "\e905";
$icon-down-arrow: "\e906";
$icon-down-arrow_wht: "\e907";
$icon-edit: "\e908";
$icon-facebook-logo-button: "\e909";
$icon-google-plus-symbol: "\e90a";
$icon-keyboard-right-arrow-button: "\e90b";
$icon-linkedin-logo: "\e90c";
$icon-lock: "\e90e";
$icon-next2: "\e90f";
$icon-notification-bell: "\e910";
$icon-notification-bell-info-path1: "\e911";
$icon-notification-bell-info-path2: "\e918";
$icon-notification-bell-info-path3: "\e919";
$icon-notification-bell-info-path4: "\e91e";
$icon-or-path1: "\e912";
$icon-or-path2: "\e913";
$icon-or-path3: "\e914";
$icon-search: "\e915";
$icon-check-sign: "\e917";

